examples/*.trees
examples/*.log
examples/*.slim
examples/test.recomb

.ipynb_checkpoints/*

*.ipynb

myenv/*

htmlcov/*

docs/build/*
docs/rst
docs/source/recenthistory/pics/simulation-method-1.aux
docs/source/recenthistory/pics/simulation-method-1.dvi
docs/source/recenthistory/pics/simulation-method-1.log
docs/source/recenthistory/pics/simulation-method-1.pdf
docs/source/recenthistory/pics/simulation-method-1.synctex.gz
docs/source/recenthistory/pics/simulation-method-1.tex

.eggs/*

*.coverage

__pycache__/*

slime.egg-info/*

slime/__pycache__/*

tests/__pycache__/*

build/*

dist/*

recent-history.slim
recent-history.trees
